article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 20px;
  text-align: center;
  background: rgba(0,0,0,0.9)
}

header {
	background-color: lightblue;
	height: 110vh;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin-top: -20px;
	color: rgba(255,255,255,0.9);
}

.headerWrapper {
	width: 60%;
	margin: 0 auto;
	transform: translateY(35%); 
}

.innerWrapper{
	border-radius: 2px;
	line-height: 1.6;
	background: rgba(0,0,0,0.9);
	box-shadow: 0 0 10px rgba(0,0,0,0.8);

}

h1 {
	padding-top: 60px;
	margin-top: 0;
	text-transform: uppercase;
	color: #c0392b;
	font-size: 2.5em;
}

h2 {
	color: rgba(255,255,255,0.8);
	padding-bottom: 10px;
}

h3 {
	font-variant: small-caps;
}

h4 {
	color: rgba(255,255,255,0.8)
}

.headerWrapper p {
	margin: 25px 150px;

}

.arrow {
	margin-top: 80px;
	padding-bottom: 20px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}

.dateOptions {
	margin-top: 50px;
}
.date {
	text-align: center;
	height: 70px;
	background: lightblue;
	border-radius: 2px;
	width: 30%;
	margin: 1% 1%;
	float: left;
	cursor:pointer;
}

a {
	text-decoration: none;
	color: rgba(0,0,0,0.9);
}

.date:hover {
	background: #c0392b;
}

.buttonClick {
	background: red;	
}

.results {
	margin: 50px auto;
}
.resultsBox {
	width: 30%;
	margin: 1%;
	height: 450px;
	float: left;
}

.resultsBox img {
	width: 250px;
	height: auto;
	border-radius: 2px;
}

.resultsBox img.icon {
	padding-top: 50px;
}

.resultsBox p.clicked {
	display: block;
	height: 40px;
	margin-bottom: 15px;
	color: rgba(255,255,255,0.8);
	font-size: .9em;
	text-transform: uppercase;
}

.movie img, .drink img {
	max-height: 300px;
}

img.clicked {
	border: 1px solid rgba(0,0,0,0.2);
}

.food img.clicked {
	transform: translateY(55%);
}

.imgWrapper {
	background: rgba(225,225,225,0.9);
	height: 350px;
}

.movie img.clicked, .drink img.clicked {
	margin-top: 25px;
}


@media (max-width: 1160px) {
	.headerWrapper p {
		display: none;
	}
}


@media (max-width: 970px){
	.resultsBox img {
		width: 150px;
	}

	.imgWrapper {
		height: 250px;
	}
}

@media (max-width: 680px){
	h1{
		font-size: 1.5em;
	}

	.headerWrapper {
		transform: translateY(20%); 
	}

	.date {
		width: 100%;
	}
	
	.resultsBox {
		width: 100%;
		height: 300px;
		margin-top: 85px;
	}

	.resultsBox:first-child {
		margin-top: 20px;
	}
}